.menu-list
    --font-color: #feffe3
    --font-inverse: #333333 
    --box-light: rgba(254,255,277,0.65)
    a
        -webkit-transition: background-color 0.7s, color 0.5s
        transition: background-color 0.7s, color 0.5s 
    li a:hover
        background-color: var(--box-light)
        color: var(--font-inverse)
        -webkit-transition: background-color 0.3s, color 0.3s
        transition: background-color 0.3s, color 0.3s
