nav
    margin: auto
    width: 1000px

.menu-list
    margin: 0
    padding: 80px 0 0
    list-style: none
    text-align: right
    .list-item
        float: none
        display: inline-block
    .list-item:nth-child(3)
        margin-right: -4px
    .list-item:nth-child(1)
        float: left
        a
            padding-left: 20px
    .list-item:nth-child(2)
        float: left

.menu-list a
    color: white
    font-size: 2em
    font-weight: 400
    text-decoration: none
    text-transform: uppercase
    display: block
    padding: 10px 30px
    -webkit-transition: background-color 0.7s, color 0.5s
    transition: background-color 0.7s, color 0.5s
.menu-list li a:hover
    background-color: rgba(255, 255, 255, .65)
    color: #333333
    -webkit-transition: background-color 0.3s, color 0.3s
    transition: background-color 0.3s, color 0.3s

.nav-header
    width: 100%
    position: relative
    .logo
        width: 392px
        height: 242px
        position: absolute
        left: 50%
        top: 0
        content: ""
        margin-left: -196px
        text-align: center

