@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0; }

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0; }

nav {
  margin: auto;
  width: 1000px; }

.menu-list {
  margin: 0;
  padding: 80px 0 0;
  list-style: none;
  text-align: right; }
  .menu-list .list-item {
    float: none;
    display: inline-block; }
  .menu-list .list-item:nth-child(3) {
    margin-right: -4px; }
  .menu-list .list-item:nth-child(1) {
    float: left; }
    .menu-list .list-item:nth-child(1) a {
      padding-left: 20px; }
  .menu-list .list-item:nth-child(2) {
    float: left; }

.menu-list a {
  color: white;
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 30px;
  -webkit-transition: background-color 0.7s, color 0.5s;
  transition: background-color 0.7s, color 0.5s; }

.menu-list li a:hover {
  background-color: rgba(255, 255, 255, 0.65);
  color: #333333;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s; }

.nav-header {
  width: 100%;
  position: relative; }
  .nav-header .logo {
    width: 392px;
    height: 242px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -196px;
    text-align: center; }

.container {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
  display: block; }

.place_holder {
  background-color: black;
  height: 1000px;
  content: " ";
  margin: 800px auto; }

.bg-layers {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }
  .bg-layers .layer-00, .bg-layers .layer-01, .bg-layers .layer-02, .bg-layers .layer-03 {
    width: 100%;
    position: absolute; }
  .bg-layers .layer-00 {
    margin-top: -138px;
    z-index: -2; }
  .bg-layers .layer-01 {
    z-index: -1; }
  .bg-layers .layer-02 {
    z-index: 0; }
  .bg-layers .layer-03 {
    z-index: 2; }

.first_section_image {
  width: 100%;
  padding: 0;
  position: relative; }

.first_img {
  position: absolute;
  width: 100%;
  z-index: 1; }

.first_title {
  z-index: 10;
  position: absolute; }

.fs_content {
  background-image: url("../images/tlo_sekcja1.png");
  background-color: blue;
  z-index: 2;
  position: absolute; }
  .fs_content .tekst {
    margin: auto;
    text-align: center;
    align-items: center; }
    .fs_content .tekst p {
      background-color: rgba(255, 255, 255, 0.65);
      font-size: 2rem;
      color: #333333ff;
      padding: 10px; }
  .fs_content img {
    width: 100%; }

.fs_content {
  -webkit-box-shadow: 0px -12px 80px 2px rgba(39, 17, 14, 0.75), 0px 27px 80px 2px rgba(39, 17, 14, 0.75);
  -moz-box-shadow: 0px -12px 80px 2px rgba(39, 17, 14, 0.75), 0px 27px 80px 2px rgba(39, 17, 14, 0.75);
  box-shadow: 0px -12px 80px 2px rgba(39, 17, 14, 0.75), 0px 27px 80px 2px rgba(39, 17, 14, 0.75); }

.bg_image_s2 {
  width: 100%;
  position: absolute;
  z-index: 1; }

.title_s2 {
  z-index: 10;
  position: absolute; }

.ss_content {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-image: url("../images/tlo_sekcja2.png");
  -webkit-box-shadow: 0px -20px 44px 6px rgba(20, 45, 61, 0.75);
  -moz-box-shadow: 0px -20px 44px 6px rgba(20, 45, 61, 0.75);
  box-shadow: 0px -20px 44px 6px rgba(20, 45, 61, 0.75); }
  .ss_content .content_1 {
    background-color: rgba(0, 0, 0, 0.6); }
  .ss_content .ss_img {
    width: 100%; }
  .ss_content .ss_text {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding: 40px 0px; }
  .ss_content .ss_txt_2 {
    margin-top: 10%; }
  .ss_content .karuzela {
    margin: 100px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
    .ss_content .karuzela img {
      text-align: center;
      margin: 0 auto;
      padding: 20px; }

.motto {
  position: absolute;
  height: 110vh;
  background-color: #fff;
  z-index: 9; }
  .motto .motto_img {
    width: 100%;
    margin: 25% 0; }
  .motto .motto_title {
    position: absolute; }

.kontakt {
  position: relative;
  z-index: 5; }
  .kontakt .footer_img {
    position: absolute;
    z-index: -1; }
    .kontakt .footer_img img {
      width: 100%; }
  .kontakt .footer_content {
    position: absolute;
    z-index: 1; }

#kontakt_logo {
  margin: 0 auto; }

#kontent {
  margin: 20px auto;
  text-align: center; }
  #kontent ul li {
    list-style-type: none;
    color: white;
    font-size: 2em;
    padding: 5px 0; }
  #kontent ul a {
    text-decoration: none;
    font-size: 2.5em;
    color: white;
    padding: 10px; }

.row {
  display: flex;
  width: 100%; }

.row::after {
  display: block;
  clear: both;
  content: ""; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
